<!-- SECTION OF SCRIPTS -->
<section>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/plugins/bootstrap/bootstrap.min.min.js"></script>
    <script src="../js/custom/main.min.js"></script>
</section>