<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/meta-head'); -%>
    <link rel="stylesheet" href="../css/theme/hotels.min.css">

    <title>Explore | Hotels</title>
</head>
<body>
    <%- include('./partials/header'); -%>
    
    <section class="section-one section-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col sm-12 slider-hotels">
                    <div class="content-slide">
                        <h2 class="title-slider">
                            Holidays to Cartagena
                        </h2>
                        <p>
                            Located on the Caribbean Sea, its colonial houses, its ancient monasteries, cobblestone streets and walls that defended the inhabitants from pirate attacks are part of the essence of Cartagena. With squares, balconies full of flowers and pastel facades that change with the sunlight the capital of the department of Bolívar is ideal to surprise those who come to participate in congresses, conventions and world-class events.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center mb-5 mt-5 row" id="loader-img">
        <img src="./img/loader.gif" alt="" srcset="">
    </div>

    <section class="not-hotels d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="title-hotels">We're sorry</h2>
                    <p>At this time we do not have active hotels.</p>
                    <hr class="separator-title">
                </div>
                <div class="col-sm-12 d-flex justify-content-center found-content">
                    <img src="./img/not-found-hotels.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
    </section>

    <section class="section-hotels d-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h2 class="title-hotels">The Best Hotels</h2>
                    <hr class="separator-title">
                </div>
            </div>
            <div class="row d-flex justify-content-center row-hotels" id="row-hotels">
                
            </div>
        </div>
        
    </section>
    
    <section class="mt-5">
        <%- include('./partials/footer'); -%>
        <%- include('./partials/script-body'); -%>
    </section>
    <script src="../js/custom/hotels.js"></script>
    
</body>
</html>