<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta-head'); -%>
    <title>Explore | Hotel</title>
    <link rel="stylesheet" href="../css/theme/home.min.css">
    <link rel="stylesheet" href="../css/theme/hotel.min.css">
    <script src="../js/plugins/apimaps.min.js"></script>
</head>
<body>
    <%- include('partials/header'); -%>
    
    <section class="section-one">
        <div class="hero-hotel"> </div>
        <div class="container container-article">
            <div class="d-flex justify-content-center">
                <div class="col-xs-12">
                    <h2 class="title-hotels">Hotel las Americas</h2>
                    <hr class="separator-title">
                </div>
            </div>
            <div class="mt-5 content-article">
                <div class="col-xs-12-col-md-12">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, vitae. Dolorum doloremque nisi fugiat ad ea fuga vitae commodi error. Dolorum porro tenetur error officia voluptatem suscipit nisi inventore! Harum.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio eligendi corrupti quis explicabo perspiciatis esse doloribus? Eaque, labore ea! Eveniet dolor voluptatum tempore officiis quia omnis architecto suscipit. Odio, voluptatum!
                        Natus, corrupti illum? Omnis, placeat. Quidem pariatur blanditiis tenetur, non unde assumenda animi dolore odio est libero debitis illo quos porro corporis obcaecati quae vitae eveniet vero rem cupiditate! Quidem.
                        Distinctio est, officiis, dolorem sed eum delectus perspiciatis mollitia soluta, itaque earum numquam. Distinctio dicta provident a blanditiis, placeat, repellat eveniet itaque minima laudantium cumque, iusto obcaecati maiores beatae explicabo?
                        Laboriosam explicabo iste debitis ipsum tempora? Provident ullam reprehenderit nihil esse maiores omnis voluptate fugiat? Minima nulla nisi quo. Nisi cupiditate expedita magnam magni dolor quos maxime beatae recusandae architecto.
                    </p>
                </div>
            </div>
            <div class="row mt-5 info-hotel">
                <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                    <img src="../img/uploads/1607349887841.png" class="img-round">
                    <h3>Hotelas las Americas</h3>
                    <hr>
                    <p>
                        Calle 4 Sur 24-31
                        Mijitayo
                        Pasto
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" id="mapHotel" style="min-height:600px; margin: 0 auto;">
                </div>
            </div>
        </div>
    </section>
    
    
    <%- include('partials/footer'); -%>
    <%- include('partials/script-body'); -%>
    <script src="../js/custom/hotel.js"></script>
</body>
</html>